.form-item {
	align-items: center;
}

.form-item input, .form-item select {
	width: 100%;
}

.form-item input {
	border: none;
	text-indent: 5px;
	font-family: "Manrope", sans-serif;
	font-size: 1.1rem;
	background-color: #eeeeee;
	height: 30px;
	border-radius: 5px;
	border-left: 5px solid #eeeeee;
	transition: 0.3s;
}

.form-item input:focus {
	transition: 0.3s;
	outline: none;
	border-left: 5px solid #8334eb;
	background-color: #dfdfdf;
}

.form-item input:disabled {
	color: #222222;
}

.form-item select {
	border-radius: 5px;
	height: 30px;
	width: 100%;
	font-family: "Manrope", sans-serif;
	background-color: #eeeeee;
	font-size: 1.125rem;
	outline: none;
	border-left: 5px solid #686868;
	transition: 0.3s;
}

.form-item select:focus {
	border-left: 5px solid #8334eb;
	background-color: #dfdfdf;
}

.form-item option {
	font-family: "Manrope", sans-serif;
	font-size: 1.15rem;
	transition: 0.3s;
}

.form-item button {
	width: 200px;
	height: 50px;
	background-color: #8334eb;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
	border: none;
	border-radius: 5px;
	color: #eeeeee;
	font-family: "Manrope", sans-serif;
	font-size: 1.25rem;
	transition: 0.3s;
}

.form-item button:hover {
	background-color: #6327b1;
	cursor: pointer;
}

.form-item button:focus {
	outline: none;
	background-color: #6327b1;
	cursor: pointer;
}

.form-item input[type="checkbox"] {
	width: 30px;
	accent-color: #8334eb;
	transition: 0.3s;
}

.form-item label {
	font-family: "Manrope", sans-serif;
	color: #555555;
}